.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}

.main__header {
  margin-bottom: 1.5rem;
}

.main__header div {
  margin-bottom: 1.2rem;
}

.main__header > a {
  margin: 1rem 0;
  background: rgb(241, 242, 246);
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  border-radius: 8px;
  padding: 1rem 2rem;
}

.main__subscribe__bottom {
  background: linear-gradient(0deg, rgb(40, 40, 40) 0%, rgb(79, 79, 79) 100%);
  padding: 24px;
  align-items: center;
  border-radius: 8px;
  display: flex;
  width: 27rem;
}

.main__subscribe__bottom__left {
  margin-right: 2rem;
}

.main__subscribe__bottom__right {
  color: white;
}

.main__subscribe__bottom__right p {
  margin: 1rem 0;
}

.main__subscribe__bottom__right .subscribe {
  text-decoration: none;
  color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
}
