header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.header__primary {
  font-size: 1rem;
}

.header__primary--main {
  margin-right: 0.5rem;
}

.header__primary--sub {
  color: white;
  background-color: #00c464;
  padding: 5px 10px;
  border-radius: 6px;
}

header h4 {
  color: white;
  font-size: 1.2rem;
}

header > img {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
}
